form{
    background-color: rgb(8, 127, 91);
    color: white;
    text-align: center;
    width: 20%;
    margin: auto;
    padding: 15px 150px;
    border-radius: 5px;

}
form > input{
    background-color: rgb(253, 126, 20);
    border: none;
    padding: 8px 60px;
    width: 30%;
    border-radius: 5px;
}
form > input::placeholder{
    color: white;
    font-weight: 600;
}
#savebtn{
    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding: 8px;
    background-color: rgb(226, 224, 224);
    /* transition:.5s ease all; */
}
